/**
 * Use this file to add styles of basic HTML elements.
 */

@layer base {
  h1 {
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
  }
  h2 {
    font-size: 28px;
    line-height: 38px;
    font-weight: bold;
  }
  h3 {
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
  }
  h4 {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
  }
  h5 {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
  }
  h6 {
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
  }
}
