{#
/**
 * @file
 * Default theme implementation to display a social share link.
 *
 * Available variables:
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 * - pdf_link_text: The sharing link text.
 * - url: The URL for PDF.
 * - pdf_url_query_parameter: Some query parameters to append to the PDF document URL.
 *   Multiple values can be separated by ampersands (&).
 *
 * See \Drupal\social_share\Plugin\SocialShareLink\PDFShareLink() for a
 * a complete list of supported variables. Every context defind by the plugin
 * is made available as variable.
 *
 * @ingroup themeable
 */
#}

{% if pdf_url_query_parameter %}
  {% if '?' in url %}
    {% set url = url ~ '%26' ~ pdf_url_query_parameter|url_encode %}
  {% else %}
    {% set url = url ~ '?' ~ pdf_url_query_parameter|url_encode %}
  {% endif %}
{% endif %}

{% set attributes = attributes.
  setAttribute('target', '_blank').
  addClass('social-share-pdf')
%}

<a href="{{ url }}" {{ attributes }}>
  {{ pdf_link_text }}
</a>
