// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "bootstrap/scss/functions";

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";



/// Importing partials

@import "layout/page.scss";
@import "icon-list";
@import "zorik.scss";
//
// Custom styles
//


// General styles

body {
  font-family: var(--font-figtree);
}

p {
  white-space: break-spaces;
}
.blog-section-content {
  max-width: 100%;
  .blog-img {
    .field__item {
      display: flex;
      justify-content: center;
    }
  }
}

#block-simple-blog-content .node__content .block-field-blocknodearticlebody {

 ul {
  list-style: disc;
  margin: auto;
  padding: revert-layer;
  ul {
    list-style: circle;
    ul {
      list-style: square;
    }
  }
  ol {
    margin: auto;
    padding: revert-layer;
  }
 }

}

.blog-post-section {
  .view-content {
    @include make-container();
    }
  }
  p, ul {
    @include sm-down-device {
      font-size: 1.1rem;;
    }
  }

.blog-post-10 .blog-tag .tag-items ul {
  @include sm-down-device {
    flex-direction: column;
    row-gap: 5px;
  }
}

.blog-post-section .blog-section-content .image-content .blog-text ul  {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  @include sm-down-device {
    flex-direction: column;
    row-gap: 5px;
  }
  li {
    a {
      font-family: var(--font-red-rose);
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      text-align: left;
      text-transform: capitalize;
      color: var(--dark-text-color2);
      background: #F0F0F0;
      border-radius: 5px;
      padding: 5px 10px;
      transition: .7s;

      &:hover {
          background: var(--primary-green);
          color: var(--dark-text-color);
      }
    }
  }
}


.blog-post-section .blog-section-content .image-content .author-area {
  flex-direction: column;
  align-items: flex-start;
  .author-content {
    .publish-date {
      time {
        font-family: var(--font-figtree);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        text-align: left;
        color: var(--dark-text-color2);
        transition: .7s;

        &:hover {
            color: var(--primary-green);
        }

      }
    }
  }
}

.image-content .author-area  .node--type-person {
  //display: flex;
  .node__content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: baseline;
    .field--name-title {
      a {
        font-family: var(--font-red-rose);
        font-size: 16px;
        font-weight: 700;
        line-height: 1.8;
        text-align: left;
        color: var(--dark-text-color);
        transition: 0.7s;
        &:hover {
          color: var(--primary-green);
        }
      }
    }
  }
}

.blog-post-section .view-header {
  h2 {
    text-align: center;
    a {
      font-family: var(--font-red-rose);
      font-size: 45px;
      font-weight: 700;
      line-height: 1.3;
      text-align: center;
      color: var(--text-color);
      margin-bottom: 0;
      &:hover {
        color: var(--primary-green);
      }
    }
  }
}

.blog-tag .views-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-area2 .region-header {
  width:100%;
}

#block-simple-blog-site-branding {
  color: var(--text-color);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 7px 10px;
  position: relative;
  font-family: var(--font-red-rose);
  font-weight: 700;
  font-size: 2rem;
  transition: all .5s ease-out 0s;
  border-radius: 15px;
  line-height: 1;
  justify-content: center;
  gap: 1rem;
  .site-logo img {
    max-width: 80px;
    max-height: 80px;
  }
  .site-name {
    a {
      color: var(--text-color);
      &:hover {
        color: var(--primary-green);
      }
    }
  }
}

.node--type-page {
  h1 {
    font-family: var(--font-red-rose);
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 0;
    color: var(--dark-text-color);

    @include xl-down-device() {
        font-size: 40px;
    }

    @include sm-down-device() {
        font-size: 30px;
    }
    a {
      color: var(--text-color);
      &:hover {
        color: var(--primary-green);
      }
    }

  }
}

.p-1rem {
  padding: 0 1rem 0 1rem;
}

.blog-post-section .blog-section-content .image-content .author-area .author-content .publish-date span.fivestar-rating::after {
  height: 0;
}


/* Working with comments */

.comment-area {
  .title {
  }
  .comment {
    .indented {
    }
    .single-comment-area {
      .layout__region--content {
      }
    }
  }
}



.comment-area {
  .title {
    color: var(--dark-text-color);
    font-family: var(--font-red-rose);
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    line-height: 1;
    white-space: nowrap;
  }
  .comment {
    .layout__region--content {
        .username {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
            flex-wrap: wrap;

                line-height: 1;
                margin-bottom: 0;
                font-family: var(--font-red-rose);
                font-size: 16px;
                font-weight: 700;
                text-align: left;
                color: var(--dark-text-color);


                @include sm-down-device() {
                    font-size: 15px;
                }

            span {
                font-family: var(--font-figtree);
                font-size: 14px;
                font-weight: 500;
                text-align: left;
                line-height: 1;
                color: var(--dark-text-color2);
            }
        }


        p, .field--name-pid {
            font-family: var(--font-figtree);
            color: var(--dark-text-color2);
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            text-align: left;
            margin-bottom: 12px;

            @include md-down-device() {
                font-size: 14px;
            }
        }
        .field--name-pid, .field--type-created {
          font-size: 12px;
          @include md-down-device() {
            font-size: 10px;
        }
          .username {
            font-size: 12px;
            @include md-down-device() {
              font-size: 10px;
          }
  
          }

        }

        .links {
          list-style-position: inside;
            li {
              display: inline;
              padding: 0 5px 0 5px;
              color: var(--dark-text-color);
              font-family: var(--font-figtree);
              font-size: 14px;
              font-weight: 600;
              display: inline-flex;
              align-items: center;
              gap: 5px;
              line-height: 1;
              cursor: pointer;
              transition: 0.35s;
  
              svg {
                  transition: 0.35s;
                  fill: var(--dark-text-color);
              }
  
              &:hover {
                  color: var(--primary-green);
  
                  svg {
                      fill: var(--primary-green);
                  }
              }
  
            }
        }
    }
  }
    .indented {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-left: 70px;
      border-top: 1px solid #EEEEEE;
      border-bottom: 1px solid #EEEEEE;
      padding: 29px 0 15px 0;

      &.two {
          border-bottom: none;
          padding: 29px 0 0;
      }

      @include sm-down-device() {
          margin-left: 25px;
      }

      >li {
          margin-bottom: 30px;

          &:last-child {
              margin-bottom: 0;
          }
      }

    }
}


#comment-form {
  background: url(../image/standard/Background-8.png);
  border-radius: 20px;
  padding: 40px 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include md-down-device() {
      padding: 45px 20px 50px;
  }
  .title {
      margin-bottom: 45px;
      h4 {
          font-family: var(--font-red-rose);
          color: var(--dark-text-color);
          font-size: 30px;
          font-weight: 700;
          text-align: left;
          margin-bottom: 0;
      }
      h1 {
          font-family: var(--font-red-rose);
          color: var(--dark-text-color);
          font-size: 45px;
          font-weight: 700;
          text-align: left;
          margin-bottom: 0;
      }

  }
  .form-check {
      min-height: unset;
      margin-bottom: 0;

      .form-check-input {
          cursor: pointer;
          height: 14px;
          width: 14px;

          &:focus {
              box-shadow: none;
          }

          &:checked {
              background-color: var(--dark-text-color2);
              border-color: #EEEEEE;
          }
      }

      .form-check-input[type=checkbox] {
          border-radius: unset;
      }

      .form-check-label {
          cursor: pointer;
          font-family: var(--font-figtree);
          font-size: 16px;
          font-weight: 400;
          text-align: left;
          color: var(--dark-text-color2);


          @include sm-down-device() {
              font-size: 12px;
          }
      }
  }
  #edit-comment-body-wrapper, .form-item {
      line-height: 1;

      label {
          font-family: var(--font-red-rose);
          color: var(--dark-text-color);
          font-size: 16px;
          font-weight: 700;
          line-height: 19.98px;
          text-align: left;
          display: inline-block;
          line-height: 1;
          margin-bottom: 12px;
      }

      input {
          width: 100%;
          font-family: var(--font-figtree);
          color: var(--dark-text-color2);
          font-size: 16px;
          font-weight: 400;
          text-align: left;
          padding: 15px 25px;
          height: 50px;
          border: 1px solid var(--border-color);
          border-radius: 5px;

          &::placeholder {
              color: rgba(var(--text-color-opc), 0.4);
          }

          &:focus {
              border-color: var(--primary-color1);
          }
      }

      textarea {
          width: 100%;
          border-radius: 5px;
          background: #fff;
          color: var(--dark-text-color2);
          border: 1px solid #eee;
          outline: none;
          font-family: var(--font-figtree);
          font-size: 16px;
          font-weight: 400;
          text-align: left;
          padding: 18px 25px;
          min-height: 150px;

          &:focus {
              border-color: var(--primary-color1);
          }

          &::placeholder {
              color: rgba(var(--text-color-opc), 0.4);
          }
      }
  }
  #edit-actions {
    input {
      background: var(--dark-text-color);
      padding: 17px 30px;
      border-radius: 28px;
      margin-top: 40px;
      transition: .7s;
          font-family: var(--font-red-rose);
          font-size: 15px;
          font-weight: 700;
          line-height: 18.74px;
          text-align: center;
          color: var(--white-color);
          svg {
              path {
                  stroke: var(--white-color);

              }
          }
          .arrow {
              transform: rotate(0);
              transition: .7s;
          }
          &:hover {
              color: var(--white-color);

              svg {
                  path {
                      stroke: var(--white-color);
                  }
              }

              .arrow {
                  transform: rotate(45deg);
              }
          }
    }
  }

}
