// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "bootstrap/scss/functions";

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";



/// Importing partials

@import "layout/page.scss";
@import "icon-list";
@import "zorik.scss";
//
// Custom styles
//



body {
  padding: 1.5rem;
}
.blog-post-section {
  .view-content {
    @include make-container();
  }
}

.blog-post-section .blog-section-content .image-content .blog-text ul  {
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: center;
  li {
    a {
      font-family: var(--font-red-rose);
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      text-align: left;
      text-transform: capitalize;
      color: var(--dark-text-color2);
      background: #F0F0F0;
      border-radius: 5px;
      padding: 5px 10px;
      transition: .7s;

      &:hover {
          background: var(--primary-green);
          color: var(--dark-text-color);
      }
    }
  }
}


.blog-post-section .blog-section-content .image-content .author-area {
  flex-direction: column;
  align-items: flex-start;
  .author-content {
    .publish-date {
      time {
        font-family: var(--font-figtree);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        text-align: left;
        color: var(--dark-text-color2);
        transition: .7s;

        &:hover {
            color: var(--primary-green);
        }

      }
    }
  }
}

.image-content .author-area  .node--type-person {
  //display: flex;
  .node__content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: baseline;
    .field--name-title {
      a {
        font-family: var(--font-red-rose);
        font-size: 16px;
        font-weight: 700;
        line-height: 1.8;
        text-align: left;
        color: var(--dark-text-color);
        transition: 0.7s;
        &:hover {
          color: var(--primary-green);
        }
      }
    }
  }
}

.blog-post-section .view-header {
  h2 {
    text-align: center;
    a {
      font-family: var(--font-red-rose);
      font-size: 45px;
      font-weight: 700;
      line-height: 1.3;
      text-align: center;
      color: var(--text-color);
      margin-bottom: 0;
      &:hover {
        color: var(--primary-green);
      }
    }
  }
}

.blog-tag .views-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-area2 .region-header {
  width:100%;
}

#block-simple-blog-site-branding {
  color: var(--text-color);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 7px 10px;
  position: relative;
  font-family: var(--font-red-rose);
  font-weight: 700;
  font-size: 2rem;
  transition: all .5s ease-out 0s;
  border-radius: 15px;
  line-height: 1;
  justify-content: center;
  gap: 1rem;
  .site-logo img {
    max-width: 80px;
    max-height: 80px;
  }
  .site-name {
    a {
      color: var(--text-color);
      &:hover {
        color: var(--primary-green);
      }
    }
  }
}

.node--type-page {
  h1 {
    font-family: var(--font-red-rose);
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 0;
    color: var(--dark-text-color);

    @include xl-down-device() {
        font-size: 40px;
    }

    @include sm-down-device() {
        font-size: 30px;
    }
    a {
      color: var(--text-color);
      &:hover {
        color: var(--primary-green);
      }
    }

  }
}

.p-1rem {
  padding: 0 1rem 0 1rem;
}