.klaro_toggle_dialog {
  position: fixed;
  z-index: 99;
  right: 25px;
  bottom: 25px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  background: white;
  background-image: url(../icons/privacy.svg);
  background-size: contain;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.klaro_toggle_dialog:focus {
  transform: scale(1.2);
}
.klaro.learn-more-as-button
  .cookie-notice:not(.cookie-modal-notice)
  a.cm-link.cn-learn-more {
  flex-grow: unset;
  margin-right: auto;
  padding: 0.4em;
  cursor: pointer;
  text-align: center;
  color: #fff;
  color: var(--button-text-color, #fff);
  border-style: none;
  border-radius: var(--border-radius, 4px);
  font-size: 1em;
  line-height: 1.125rem;
}
