/**
 * @file
 * Schema.org JSON-LD preview styles.
 */

.schemadotorg-jsonld-preview-copy {
  display: none;
}

html.js .schemadotorg-jsonld-preview-copy {
  display: block;
}

.schemadotorg-jsonld-preview-copy-message {
  transition: opacity 1s;
  display: none;
  font-weight: bold;
}

.schemadotorg-jsonld-preview-copy-message:before {
  content: '✓';
}

.schemadotorg-jsonld-preview-endpoints .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.schemadotorg-jsonld-preview-endpoints .form-item label {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
